/* Custom Pink version */

// hover dark
$primary-500: hsl(45, 100%, 80%);

// primary
$primary-600: hsl(0, 100%, 75%);

// hover light
$primary-700: hsl(-45, 100%, 25%);

// Import Pico
@import '@picocss/pico/scss/pico';

.print {
	display: none;
}

@media print {
	* {
		color: #000 !important;
	}

	.print {
		display: inline-block;
	}

	div.print {
		display: block;
	}

	.no-print,
	.no-print * {
		display: none !important;
	}

	a {
		color: #888 !important;
		font-weight: 400 !important;
		text-decoration: none !important;
		text-shadow: none !important;
	}
}
