.print {
	display: none;
}

@media print {
	* {
		color: #000 !important;
	}

	.print {
		display: inline-block;
	}

	div.print {
		display: block;
	}

	.no-print,
	.no-print * {
		display: none !important;
	}

	a {
		color: #888 !important;
		font-weight: 400 !important;
		text-decoration: none !important;
		text-shadow: none !important;
	}
}
